.n-input {
  @apply px-2 py-1 rounded inline-block border border-nord4 bg-white focus:outline-none;
}

.n-input:disabled {
  @apply bg-nord6 text-nord3/50 border-nord4;
}

.n-input::-webkit-outer-spin-button,
.n-input::-webkit-inner-spin-button {
  @apply m-0;
  -webkit-appearance: none;
}

.n-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
}

/* Firefox */
.n-input[type="number"] {
  -moz-appearance: textfield;
}

/* -------------------------------------------------------------------------------- */

.n-button {
  @apply px-2 py-1 rounded  bg-nord6 text-nord3 cursor-pointer border border-nord4 select-none; /*inline-block*/
  @apply focus:outline-none hover:bg-nord5/40;
}

.n-button:disabled {
  @apply bg-nord6 text-nord3/50 border-nord4 pointer-events-none;
}

/* -------------------------------------------------------------------------------- */

.n-table {
  @apply bg-gray-50 min-w-full divide-y divide-nord4/20 border border-nord4;
}

.n-table td,
.n-table th {
  @apply p-2 text-left;
}

.n-table tr:hover {
  @apply bg-gray-100 cursor-pointer;
}

.n-table th:hover {
  @apply cursor-auto;
}

.n-table th {
  @apply bg-gray-100;
}

/* .n-table td:first-child {
  width: 1%;
  white-space: nowrap;
} */

.n-table .selected {
  @apply bg-nord14/20;
}

.n-table .selected:hover {
  @apply bg-nord14/20;
}

/* -------------------------------------------------------------------------------- */

.n-select {
  @apply flex flex-col box-border w-auto relative outline-none select-none;
}

.n-select .select {
  @apply box-border text-left w-full h-full px-2 py-1 relative flex items-center overflow-hidden;
  @apply border border-nord4 rounded bg-white;
}

.n-select .text {
  @apply overflow-hidden  flex-1;
}

.n-select .caret {
  @apply mx-1 text-nord3 w-3 h-3 hover:cursor-pointer hover:text-nord0;
}

.n-select .options {
  @apply box-border absolute mt-1 max-h-52 overflow-auto w-full;
  @apply border border-nord4 rounded bg-white z-[9999];
}

.n-select .select[disabled="true"] {
  @apply !pointer-events-none bg-nord6 text-nord3/50 border-nord4;
}

/* -------------------------------------------------------------------------------- */

.n-option {
  @apply px-2 py-1;
}

.n-option[selected]:hover,
.n-option:hover {
  @apply cursor-pointer bg-nord14/10;
}

.n-option[selected] {
  @apply bg-nord14/20;
}

.n-option[disabled] {
  @apply hidden;
}

/* -------------------------------------------------------------------------------- */

.n-search-option {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid !important;
  @apply !w-full !bg-nord8/20 !border-nord4;
  font-size: calc(100% - 2px) !important;
}

/* -------------------------------------------------------------------------------- */

.n-multiselect {
  @apply flex flex-col box-border w-auto relative select-none outline-none;
}

.n-multiselect .select {
  @apply box-border text-left w-full h-full px-1 py-1 relative flex items-center overflow-hidden;
  @apply border border-nord4 rounded bg-white;
}

.n-multiselect .selections {
  @apply flex gap-1 flex-wrap  flex-1;
}

.n-multiselect .selected-box {
  @apply bg-nord14/20 rounded px-1;
}

.n-multiselect .selected-box:hover {
  @apply bg-nord14/20 cursor-pointer;
}

.n-multiselect .caret {
  @apply mx-1 text-nord3 w-3 h-3 hover:cursor-pointer hover:text-nord0;
}

.n-multiselect .options {
  @apply flex flex-col box-border absolute mt-1 max-h-52 overflow-auto w-full border border-nord4 rounded bg-white z-20;
}

/* -------------------------------------------------------------------------------- */

/*
N-CHECKBOX
*/

.n-checkbox {
  border: 0.2em solid white;
  @apply box-border w-4 h-4 inline-block text-center aspect-square select-none;
  @apply rounded-sm outline outline-1 outline-nord14 bg-white cursor-pointer;
}

.n-checkbox[disabled="true"] {
  border: 0.2em solid white;
  @apply pointer-events-none cursor-auto   outline-nord3/40;
}

.n-checkbox-checked {
  @apply bg-nord14;
}

.n-checkbox-checked[disabled="true"] {
  border: 0.2em solid white;
  @apply pointer-events-none cursor-auto  bg-nord3/40 outline-nord3/40;
}

/* -------------------------------------------------------------------------------- */

.n-datetime {
  @apply flex box-border w-auto relative bg-white;
}

.n-datetime .date {
  @apply !w-full !border !border-nord4 !rounded;
  border-right: none !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.n-datetime .time {
  @apply !border !border-nord4 !rounded;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */

.n-eea-datetime {
  @apply flex box-border w-auto relative bg-white;
}

.n-eea-datetime .date {
  @apply !w-full !border !border-nord4 !rounded;
  border-right: none !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.n-eea-datetime .time {
  @apply !border !border-nord4 !rounded-none;
  border-right: none !important;
}

.n-eea-datetime .utc {
  @apply !border !border-nord4 !rounded;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

/* -------------------------------------------------------------------------------- */

/* 
DATEPICKER EXTERNAL
*/

.datepicker {
  display: none;
  /* font-size: 0.5rem; */
}

.datepicker.active {
  display: block;
}

.datepicker-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 4px;
}

.datepicker-dropdown.datepicker-orient-top {
  padding-top: 0;
  padding-bottom: 4px;
}

.datepicker-picker {
  @apply inline-block rounded bg-white;
}

.datepicker-dropdown .datepicker-picker {
  @apply border border-nord4;
}

.datepicker-picker span {
  border: 0;
  -webkit-touch-callout: none;
  @apply block flex-1  rounded cursor-default text-center select-none;
}

.datepicker-main {
  padding: 2px;
}

.datepicker-grid,
.datepicker-view .days-of-week,
.datepicker-view,
.datepicker-controls {
  display: flex;
}

.datepicker-grid {
  flex-wrap: wrap;
}

.datepicker-view .days .datepicker-cell,
.datepicker-view .dow {
  flex-basis: 14.2857142857%;
}

.datepicker-view.datepicker-grid .datepicker-cell {
  flex-basis: 25%;
}

.datepicker-cell,
.datepicker-view .week {
  height: 2.25rem;
  line-height: 2.25rem;
}

.datepicker-header .datepicker-controls {
  padding: 2px 2px 0;
}

.datepicker-controls .button {
  @apply bg-white inline-block relative items-center justify-center m-0;
  box-shadow: none;
  cursor: pointer;
  padding: calc(0.375em - 1px) 0.75em;
  height: 2.25em;
  vertical-align: top;
  text-align: center;
  line-height: 1.5;
  white-space: nowrap;
}

.datepicker-controls .button:focus,
.datepicker-controls .button:active {
  outline: none;
}

.datepicker-controls .button[disabled] {
  cursor: not-allowed;
}

.datepicker-header .datepicker-controls .button {
  border-color: transparent;
  font-weight: bold;
}

.datepicker-header .datepicker-controls .button:hover {
  background-color: var(--background-color-hover);
}

.datepicker-header .datepicker-controls .button:active {
  background-color: var(--background-color-selected);
}

.datepicker-header .datepicker-controls .button[disabled] {
  box-shadow: none;
}

.datepicker-footer .datepicker-controls .button {
  margin: calc(0.375rem - 1px) 0.375rem;
  border-radius: 2px;
  width: 100%;
}

.datepicker-controls .view-switch {
  flex: auto;
}

.datepicker-controls .prev-btn,
.datepicker-controls .next-btn {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
  width: 2.25rem;
}

.datepicker-controls .prev-btn.disabled,
.datepicker-controls .next-btn.disabled {
  visibility: hidden;
}

.datepicker-view .dow {
  height: 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;
}

@media (max-width: 22.5rem) {
  .datepicker-view .week {
    width: 1.96875rem;
  }
}

.datepicker-grid {
  width: 15.75rem;
}

@media (max-width: 22.5rem) {
  .calendar-weeks + .days .datepicker-grid {
    width: 13.78125rem;
  }
}

.datepicker-cell:not(.disabled):hover {
  @apply bg-white cursor-pointer;
}

.datepicker-cell.focused:not(.selected) {
  @apply bg-nord14/20;
}

.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  @apply bg-nord14/20;
  font-weight: 400;
}

.datepicker-cell.disabled {
  @apply text-nord3/50;
}

.datepicker-cell.prev:not(.disabled),
.datepicker-cell.next:not(.disabled) {
  @apply text-nord3/50;
}
